body {
  box-sizing: border-box;
  background-color: #e6e6e6;
  margin: 0;
  padding: 0;
  font-family: "Maven Pro", sans-serif;
  background-image: url(/pictures/jose-fontano-TdPQp3fjzOw-unsplash.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

#cv-background {
  display: flex;
  justify-content: center;
  background-color: white;
  width: 40vw;
  height: 50vw;
  margin: auto;
  margin-top: 5vw;
  box-shadow: 0px 11px 65px -9px rgba(0, 0, 0, 0.75);
}

#cv-header {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 20%;
  margin-top: 2vw;
}

#cv-header-text {
  width: 55%;
}

#cv-header-text-head {
  font-size: larger;
}

#cv-header-text-body {
  font-size: x-small;
}

a[href^="mailto"]:hover:before {
  content: "mailto:" attr(title);
}

#cv-header-picture {
  display: flex;
  justify-content: flex-end;
  width: 45%;
}

#picture {
  border-radius: 50%;
  width: 70%;
}

#credits {
  font-size: xx-small;
  text-align: end;
  color: whitesmoke;
}
