body {
  box-sizing: border-box;
  background-color: #e6e6e6;
  margin: 0;
  padding: 0;
  font-family: acumin-pro, sans-serif;
  background-image: url(/pictures/jose-fontano-TdPQp3fjzOw-unsplash.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

.subhead-text {
  font-size: small;
  font-weight: 700;
}

.body-text {
  font-size: x-small;
}

ul {
  list-style: none;
}

#cv-background {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: white;
  width: 40vw;
  height: 50vw;
  margin: auto;
  margin-top: 5vw;
  padding: 2vw;
  box-shadow: 0px 11px 65px -9px rgba(0, 0, 0, 0.75);
}

#cv-header,
#about-container, 
#experience-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 20%;
}

#cv-header-text {
  width: 55%;
}

#cv-header-text-head {
  font-size: larger;
}

#cv-header-text-body {
  font-size: x-small;
}

a[href^="mailto"]:hover:before {
  content: "mailto:" attr(title);
}

#cv-header-picture {
  display: flex;
  justify-content: flex-end;
  width: 45%;
}

#picture {
  border-radius: 50%;
  width: 70%;
}

#about-wrapper,
#techstack-wrapper,
#work-wrapper,
# {
  width: 45%;
  margin-top: 5vw;
}

#techstack-text {
  text-align: end;
}

#credits {
  font-size: xx-small;
  text-align: end;
  color: whitesmoke;
}
